@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto slab, sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 5px;
}
.loader {
    position: fixed;
    top: 0;
    left : 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}
.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-container {
    margin: 10px 30%;
}
.image-container img {
    width: 100%;
    margin-top: 5px;
    height: 600px;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    h1 {
        font-size: 15px;
    }

    .image-container {
        margin: 10px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    h1 {
        font-size: 15px;
    }

    .image-container {
        margin: 10px;
    }
    }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
        h1 {
            font-size: 15px;
        }
    
        .image-container {
            margin: 10px;
        }
        }